:root{
    --color1: #E8CA84;
    --color2: #E89061 ;
    --color3: #E86D47;
    --color4: #963F31;
    --color5: #4E4B5E;

  }

  *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}

body{
background-color: var(--color5);
margin: 0;
font-family: 'Raleway', sans-serif;
}


main h1{
    position: absolute;

}

.lista-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}

nav{
    background-color: var(--color5);
    padding-top: 20px;
    border-bottom: solid var(--color3) 10px;
}

nav a{
    text-decoration: none;
    color:var(--color1);
    font-size: 15pt;
}

.gal-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: auto;
    width: 100%;
}


.galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--color1);
    height: 550px;
    flex-wrap: wrap;
    padding: 30px 0px;
}
.button-izq {
    background: url(./flecha-izq.png); 
    border: none;
    padding: 15px 32px;
    text-decoration: none;    
    width: 26px;
    height: 50px;
    background-repeat: no-repeat;
  }

  .button-der {
    background: url(./flecha-izq.png); 
    border: none;
    padding: 15px 32px;
    text-decoration: none;    
    width: 26px;
    height: 50px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
  }


.galeria img{
    max-height: 300px;
}

.somos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    padding: 70px;   
    background-color:whitesmoke;
}

.somos img{
    width: 350px;

}


.somos-img{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.caja-texto{
    justify-content: center;
    align-self: center;
    background-color: whitesmoke;
    height: 400px;
    margin: 50px 0px 50px 50px;
    padding: 40px;
    text-justify: auto;
    line-height: 2em;
    font-size: 15pt;
}

.proceso{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 70px; 
    background-color: var(--color2);
    /* color: whitesmoke; */
}

.proceso-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proceso-color{
    
    background-color: var(--color2);
}

.proceso img {
    width: 500px;
}

.proceso-img{
    margin: 30px;
}

.cartaCerveza{
    background-color: var(--color3);
}

#logo-nav{
    width: 130px;   
}

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

main img{
    display: flex;
    z-index: 10;
    width: 100%;
}

h2{
    font-size: 30pt;
    font-weight: 500;
    
    margin-top: 40px;
}

h3{
    font-size: 25pt;
    font-weight: 300;
    margin: auto;
}

.cartaComida{
    display: inline-block;
    text-align: center;

}
.cartaComida img{
    width: 500px;
}